<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

<body>

  <%- include('./partials/nav.ejs') %>

  <div class="container main-container" style="padding-top: 80px;">

    <!-- Display individual course details -->
    <div class="custom-card course-details bg-light">
      <div class="custom-card-body">
        <h1 class="mb-4"><%= course.courseName %></h1>
        <p class="custom-card-text"><%= course.subjectArea %> | <%= course.credits %> Credits</p>
        <p class="custom-card-text"><%= course.description %></p>
      </div>
    </div>

  </div>

  <%- include('./partials/footer.ejs') %>

</body>
</html>
