<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>

  <%- include('./partials/nav.ejs') %>

  <div class="container main-container" style="padding-top: 80px;">

    <h1 class="mb-4"><%= title %></h1>

    <!-- Display each course with a link to its individual page -->
    <% courses.forEach(course => { %>
      <div class="custom-card bg-light mb-6">
        <div class="custom-card-body">
          <!-- Wrap the course details in an anchor tag with a link to the individual course page -->
          <a href="/course/<%= course.id %>">
            <h5 class="custom-card-title"><%= course.courseName %></h5>
          </a>
          <p class="custom-card-text"><%= course.subjectArea %> | <%= course.credits %> Credits</p>
          <p class="custom-card-text"><%= course.description %></p>
        </div>
      </div>
    <% }); %>

  </div>

  <%- include('./partials/footer.ejs') %>

</body>
</html>



